<%- include('header'); -%>

<body>

<!-- Barra Lateral -->

<%- include('menuLateral'); -%>

<div class="container mt-5">
    <h3>Cadastro de Matérias</h3>
    <form id="subject-form">
        <div class="form-group">
            <label for="subject-name">Nome da Matéria:</label>
            <input type="text" id="subject-name" name="subject-name" placeholder="Nome da Matéria" required class="form-control">
        </div>


        <button type="submit" class="btn btn-primary">Salvar</button>
        <button type="button" class="btn btn-secondary">Cancelar</button>
    </form>
</div>

</body>

<%- include('footer'); -%>

