<%- include('header'); -%>
    <%- include('menuLateral'); -%>
        <body>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Informações Cadastradas</h3>
                        <div class="table-container" id="tabelaInfo">
                            <p>Nenhum horário cadastrado!</p>
                        </div>
                    </div>
                </div>
            </div>

<%- include('footer'); -%>